// @use "@material/layout-grid/mdc-layout-grid";
@use "@material/layout-grid";
@use "@material/layout-grid/variables";
@use "@material/ripple";

@use "sass:map";

.container {
    height: 80vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.navbar {
    height: 100vh;
}

.ripples {
    @include ripple.surface;
    @include ripple.radius-unbounded;
    @include ripple.states-base-color( var(--ripples-color, black)); // or using var(--..., ..);
    // : #{$accent-color};
    // @include ripple.
    @include ripple.states-opacities((hover: .1, focus: .3, press: .4));  
  }