// @use "@material/layout-grid/mdc-layout-grid";
@use "@material/layout-grid";
@use "@material/layout-grid/variables";
@use "@material/ripple";

@use "sass:map";

.container {
    height: 80vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.navbar {
    // $phone: map.get(layout-grid.$breakpoints, "phone");
    // $tablet: map.get(layout-grid.$breakpoints, "tablet");
    // $desktop: map.get(layout-grid.$breakpoints, "desktop");
    // @media (min-width: $phone) {
    //     display: none;
    // }
    // @media (min-width: $tablet) {
    //     display: none;
    // }
    // @media (min-width: $desktop) {
    //  display: block;
    // }
    height: '100vh';
}

.tight-layout {
    // @include layout-grid.layout-grid(desktop, 0, 100vw);
    // @include layout-grid.layout-grid(desktop, 0px); // 0 tidak sama dengan 0px, gg...
    // --mdc-layout-grid-margin-desktop: 0;
    margin: 0;
    //    var(--mdc-layout-grid-margin-desktop, 24px)
}

.ripples {
    @include ripple.surface;
    @include ripple.radius-unbounded;
    @include ripple.states-base-color( var(--ripples-color, black)); // or using var(--..., ..);
    // : #{$accent-color};
    // @include ripple.
    @include ripple.states-opacities((hover: .1, focus: .3, press: .4));  
  }